<form class="twitch-form" [formGroup]="twitchForm">
  <mat-icon class="twitch-form__logo" svgIcon="twitch-logo"></mat-icon>
  <h2 class="twitch-form__title">
    Welcome 🎉
  </h2>
  <label class="twitch-form__row">
    <span class="twitch-form__name">Client Id</span>
    <input type="text" class="twitch-base twitch-form__control" placeholder="Client Id" formControlName="clientId"
           [class.twitch-form__control--error]="clientId.invalid && clientId.touched">
  </label>
  <label class="twitch-form__row">
    <span class="twitch-form__name">Secret Id</span>
    <input #password type="password" class="twitch-base twitch-form__control" placeholder="Secret Id"
           formControlName="secretId"
           [class.twitch-form__control--error]="secretId.invalid && secretId.touched">
    <mat-icon (click)="toggleType(password)">
      {{ password.type === 'password' ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </label>

  <button type="button" class="twitch-base twitch-btn" matRipple="matRipple" (click)="submit()">Submit</button>
  <button type="button" class="twitch-base twitch-btn" matRipple="matRipple" (click)="reset()">Reset</button>
</form>
