:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 578px) {
      flex-basis: 100%;
    }
  }
}
