<nav *ngIf="layoutType | async as type">
  <ng-container *ngIf="type === 'desktop'; else mobileNav">
    <app-menu [type]=type></app-menu>
  </ng-container>

  <ng-template #mobileNav>
    <button mat-icon-button color="warn" aria-label="Mobile menu"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (click)="setSidebarMode(true)">
      <mat-icon>menu</mat-icon>
    </button>
    <!--    [cdkConnectedOverlayOffsetX]="-28"-->
    <!--    [cdkConnectedOverlayOffsetY]="-95"-->
    <ng-template cdkConnectedOverlay
                 [cdkConnectedOverlayHasBackdrop]="true"
                 [cdkConnectedOverlayOrigin]="trigger"
                 [cdkConnectedOverlayOpen]="(sidebar$ | async)!"
                 (detach)="setSidebarMode(false)"
                 (backdropClick)="setSidebarMode(false)">
      <app-menu @toggleProfile [type]="type"></app-menu>
    </ng-template>
  </ng-template>
</nav>
