@import 'src/assets/styles/variables';

nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  @media screen and (max-width: 767px) {
    padding: 0;
  }

  button[mat-icon-button] {
    width: 54px;
    height: 54px;

    mat-icon {
      height: 36px;
      width: 36px;
      font-size: 36px;
      line-height: 36px;
      @media screen and (max-width: 767px) {
        width: 18px;
        height: 18px;
        font-size: 18px;
        line-height: 18px;
      }

      &:hover {
        color: $white;
      }
    }

    &:hover {
      mat-icon {
        color: $logo-color;
      }
    }
  }
}
