@import 'src/assets/styles/variables';

.top-games {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }

  &__item {
    cursor: pointer;
    flex: 1 0 auto;
    width: 16rem;
    max-width: 50%;
    margin: 10px;
    position: relative;
    @media screen and (max-width: 767px) {
      width: 14rem;
    }
    @media screen and (max-width: 650px) {
      width: 12rem;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      max-width: 100%;
      margin: 0 0 1rem;
    }

    &:hover {
      .top-game__image {
        img {
          transform: translate3d($twitch-offset-value, -$twitch-offset-value, 0px);
        }
      }

      .corner {
        &--left {
          transform: translateY(-$twitch-offset-value) scale(1);
        }

        &--right {
          transform: translateX($twitch-offset-value) scale(1);
        }
      }
    }

    .corner {
      position: absolute;
      transition: 0.2s ease;

      &--left {
        border-top: $twitch-offset-value solid transparent;
        border-bottom: $twitch-offset-value solid transparent;
        border-right: $twitch-offset-value solid $twitch-color;
        left: 0;
        top: 0;
        transform-origin: left center;
        transform: translateY(-$twitch-offset-value) scale(0);
      }

      &--right {
        border-left: $twitch-offset-value solid transparent;
        border-right: $twitch-offset-value solid transparent;
        border-top: $twitch-offset-value solid $twitch-color;
        bottom: 40px;
        right: 0;
        transform-origin: center bottom;
        transform: translateX($twitch-offset-value) scale(0);
      }
    }

    .top-game {
      display: flex;
      flex-direction: column;

      &__image {
        background-color: $twitch-color;
        display: flex;

        img {
          max-width: 100%;
          transition: 0.2s ease;
        }
      }

      &__details {
        padding: 10px 0;
      }

      &__text {
        color: $white;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 600;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
