:host {
  @media screen and (max-width: 578px) {
    width: 100%;
  }

  .contacts-form {
    max-width: 550px;
    margin: 0;
    padding-top: 30px;
    @media screen and (max-width: 578px) {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
