@import 'src/assets/styles/variables';

.hero-information {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  &__left {
    flex: 0 0 820px;
    max-width: 820px;
    display: flex;
    padding: 88px 1rem 1rem 88px;
  }

  &__right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-attribute {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &__icon {
      display: flex;
      width: 25px;
      height: 25px;
      margin-right: 10px;

      img {
        width: 25px;
        height: 25px;
      }
    }

    &__name {
      color: $text-color-light;
      font-size: 16px;
      font-family: $font-secondary;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }

  .hero-name {
    color: $white;
    font-family: $font-secondary;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
  }

  .hero-excerpt {
    color: $text-color-light;
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 800;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .wrapper-description {
    position: relative;
    opacity: 1;
    transition: opacity 0.25s ease-in;

    &--hide {
      opacity: 0;
    }
  }

  .hero-description, .hero-full-description {
    color: $text-color-light;
    font-family: $font;
    font-size: 22px;
    line-height: 24px;
    max-width: 550px;
  }

  .hero-full-description {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 20px;
    line-height: 22px;
    max-height: 180px;
    padding-right: 10px;
    width: 100%;
    overflow: auto;
    z-index: 1;

    button {
      margin-top: 20px;
      text-transform: uppercase;
    }
  }

  .hero-history-toggle {
    color: $text-color-light;
    font-size: 14px;
    font-family: $font-secondary;
    margin-top: 20px;
    text-transform: uppercase;
  }

  .hero-video {
    video {
      width: 750px;
      height: 750px;
    }
  }

  .hero-abilities-container {
    display: flex;
    align-items: center;
  }

  .hero-talents {
    margin-top: 60px;
    margin-left: 40px;
    padding-top: 35px;
  }

  .hero-abilities {
    margin-top: 60px;

    &__title {
      color: $white;
      font-size: 20px;
      font-family: $font-secondary;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 1px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}
