@import 'src/assets/styles/variables';

:host {
  width: 100%;

  .heroes-filters {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $container;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    @media screen and (max-width: 875px) {
      flex-wrap: wrap;
    }

    &__title {
      color: $white;
      font-size: 20px;
      font-family: $font-secondary;
      font-weight: 800;
      text-transform: uppercase;
      @media screen and (max-width: 875px) {
        flex: 0 0 100%;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
}
