@import 'src/assets/styles/variables';

.hero-slider {
  position: absolute;
  left: calc(88px + 2rem);
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 250px;
  z-index: 2;

  &__left, &__right {
    button {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      &.disabled {
        background-color: rgba(255, 255, 255, 0.12);
        cursor: not-allowed;

        mat-icon {
          color: $text-color-light;
          cursor: not-allowed;
        }
      }
    }
  }
}
