$white: #ffffff;
$black: #000000;
$green: rgb(7, 239, 156);
$purple: #7b1fa2;

$logo-color: rgb(244 68 54);
$profile-background: #000519;
$profile-width: 550px;
$container: 1440px;

$text-color-light: rgba(255, 255, 255, 0.6);
$text-shadow: $white 0 0 20px, $white 0 0 30px;
$text-shadow-dark: $black 0 0 20px, $black 0 0 30px;
$ability-shadow: 0 0 20px $black, 0 0 20px $black;
$box-shadow-invalid: 0 0 2px 2px $logo-color;

$twitch-color: #9147ff;
$twitch-color-dark: #772ce8;
$twitch-shadow: 0 4px 24px rgba(39, 25, 64, 0.5);
$twitch-control: rgba(255, 255, 255, 0.2);
$twitch-offset-value: 0.4rem;
$twitch-button-success: #00db84;
$twitch-button-success2: #5cffbe;
$twitch-text: #adadb8;
$twitch-font: 'Inter', sans-serif;
$twitch-red: #eb0400;
$twitch-overlay: rgba(0, 0, 0, 0.6);

$font: 'Crimson Text Regular', sans-serif;
$fontBold: 'Crimson Text Bold', sans-serif;
$fontSemiBold: 'Crimson Text SemiBold', sans-serif;
$font-secondary: 'Cinzel', serif;
$font-default: Roboto, "Helvetica Neue", sans-serif;
