<div class="profile" *ngIf="user$ | async as user">
  <div class="profile__icon">
    <mat-icon (click)="closeProfile()">close</mat-icon>
  </div>
  <form class="profile-info">
    <div class="profile__avatar">
      <div class="profile-row">
        <img [src]="user.photo" [alt]="user.displayName">
      </div>
      <div class="profile-row">
        <input type="file" title="" (change)="updatePhoto($event)">
        <span class="avatar-action">Change avatar</span>
      </div>
    </div>
    <div class="profile__name">
      <ng-container *ngIf="mode === 'on'; else nameTpl">
        <app-profile-name [displayNameRef]="displayNameRef"
                          [value]="user.displayName"
                          (updateNameEvent)="updateName($event)">
        </app-profile-name>
      </ng-container>
      <ng-template #nameTpl>
        <span class="display-name" #displayNameRef>{{ user.displayName }}</span>
        <mat-icon class="edit" (click)="changeMode('on')">edit</mat-icon>
      </ng-template>
    </div>
  </form>

  <app-loader *ngIf="loading"></app-loader>
</div>
